.login
{
    color: rgb(238, 242, 238);
    display: inline;
    margin-left: 700%;
    margin-top: -1%;
    
}
.bi
{
    margin-left: 780%;
    margin-top: -20%;
    
}
.log
{
margin-left: 1260%;
}
.reg
{
    margin-left: 1200%;
}
