<div class="card-group">
    <div class="card" >
      <img src="https://media.mytek.tn/media/webp_image/wysiwyg/banner/smartphone/INFINIX-SMART6-32-AQUA-1.webp" style="width: 50%" class="card-img-top" >
      <div class="card-body">
        <h5 class="card-title">Infinix</h5>
        <p class="card-text"></p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src="https://media.mytek.tn/media/webp_image/wysiwyg/banner/smartphone/BU-REDMI-A1PLUS-32-LBLUE-3.webp" style="width: 50%" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Redmi</h5>
        <p class="card-text"></p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src="https://media.mytek.tn/media/webp_image/wysiwyg/banner/smartphone/bu-sm-a035f-32-black-1.webp" style="width: 50%" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Samsung</h5>
        <p class="card-text"></p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>





<div class="card-group">
    <div class="card" >
      <img src="https://mk-media.mytek.tn/media/catalog/product/cache/4635b69058c0dccf0c8109f6ac6742cc/8/1/81y4018qfe.jpg" style="width: 50%" class="card-img-top" >
      <div class="card-body">
        <h5 class="card-title">Lenovo</h5>
        <p class="card-text">Écran 15.6" FULL HD IPS, 120Hz - Processeur:  Intel Core i5-10300H (2,50 GHz up to 4,50 GHz Turbo max , 8Mo de mémoire cache, Quad-Core) - Système d'exploitation: Windows 11 Famille  - Mémoire RAM: 8Go - Disque Dur: 256Go SSD - Carte Graphique: NVIDIA GeForce GTX 1650Ti (4Go de mémoire dédiée GDDR6) avec Wi-Fi, Bluetooth, 2x USB 3.2 Gen 1, 1x USB-C 3.2 Gen 1, 1xHDMI 2.0, 1x RJ-45, 1x prise combinée casque/microphone (3,5 mm) - Clavier Rétroéclairé bleu - Couleur: Bleu - Garantie: 2 ans</p>
       
      </div>
    </div>
    <div class="card">
      <img src="https://www.tunisianet.com.tn/279529-home/pc-portable-asus-tuf-fx505lh-hn004-i5-10300h-16-go.jpg" style="width: 50% ; height: 53%;" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Asus</h5>
        <p class="card-text">Ecran 15.6" Full HD IPS 144Hz - Processeur Intel Core i5-10300H, up to 4.5 Ghz, 8 Mo de mémoire cache - Mémoire 16 Go - Disque 512 Go SSD - Carte graphique Nvidia GeForce GTX 1650, 4 Go de mémoire Dédiée - Wifi - Bluetooth - USB 3.2 - USB 2.0 - 1x HDMI - Webcam avec Micro - Clavier rétroéclairé - Garantie 2 ans</p>
        
      </div>
    </div>
    <div class="card">
      <img src="https://mk-media.mytek.tn/media/catalog/product/cache/4635b69058c0dccf0c8109f6ac6742cc/g/f/gf63thin11sc-613xfr-50.jpg" style="width: 50%" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">MSI</h5>
        <p class="card-text">Écran 15.6" FULL HD IPS, 144 Hz - Processeur: Intel Core i5-11400H (2.70 GHz up to 4.50 GHz Turbo max, 12 Mo de mémoire cache, Hexa-Core) - Système d'exploitation: FreeDos - Mémoire RAM: 8 Go - Disque dur: 512 Go SSD - Carte graphique: NVIDIA GeForce GTX 1650 (4 Go de mémoire dédiée GDDR6) avec Wi-Fi, Bluetooth, 1 x Type-C USB 3.2 Gen 1, 3 x Type-A USB 3.2 Gen 1, 1 x RJ45, 1 x HDMI, 1 x Entrée micro, 1 x Sortie casque - Clavier Rétroéclairé Rouge - Couleur: Noir - Garantie: 2 ans</p>
        
      </div>
    </div>
  </div>
