<div class="card-group">
    <div class="card" >
      <img src="https://media.mytek.tn/media/webp_image/wysiwyg/banner/smartphone/INFINIX-SMART6-32-AQUA-1.webp" style="width: 50%" class="card-img-top" >
      <div class="card-body">
        <h5 class="card-title">Infinix</h5>
        <p class="card-text"></p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src="https://media.mytek.tn/media/webp_image/wysiwyg/banner/smartphone/BU-REDMI-A1PLUS-32-LBLUE-3.webp" style="width: 50%" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Redmi</h5>
        <p class="card-text"></p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src="https://media.mytek.tn/media/webp_image/wysiwyg/banner/smartphone/bu-sm-a035f-32-black-1.webp" style="width: 50%" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Samsung</h5>
        <p class="card-text"></p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div> <div class="card-group">
    <div class="card" >
      <img src="https://media.mytek.tn/media/webp_image/wysiwyg/banner/smartphone/INFINIX-SMART6-32-AQUA-1.webp" style="width: 50%" class="card-img-top" >
      <div class="card-body">
        <h5 class="card-title">Infinix</h5>
        <p class="card-text"></p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src="https://media.mytek.tn/media/webp_image/wysiwyg/banner/smartphone/BU-REDMI-A1PLUS-32-LBLUE-3.webp" style="width: 50%" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Redmi</h5>
        <p class="card-text"></p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src="https://media.mytek.tn/media/webp_image/wysiwyg/banner/smartphone/bu-sm-a035f-32-black-1.webp" style="width: 50%" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Samsung</h5>
        <p class="card-text"></p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>